<!-- Main Footer -->
<footer class="main-footer" style="background-image: url(assets/images/background/pattern-1.png)">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="/"><img src="assets/images/footer-logo.png" alt="" /></a>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus, purus non tincidunt facilisis, augue lorem consequat ipsum, quis volutpat ipsum urna non lorem. </div>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li class="connect">Socially Connect With Us</li>
                                    <li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
                                    <li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
                                    <li class="pinterest"><a href="#" class="fa fa-pinterest-p"></a></li>
                                    <li class="dribbble"><a href="#" class="fa fa-dribbble"></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4>Useful Links</h4>
                                <ul class="list-link">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h4>Contact us</h4>
                                <!-- Info List -->
                                <ul class="info-list">
                                    <li><a href="tel:+101-987-567-234"><span class="icon flaticon-phone-call"></span> +101 987 567 234</a></li>
                                    <li><a href="mailto:comidapunto@gmail.com"><span class="icon flaticon-email"></span> comidapunto@gmail.com</a></li>
                                    <li><a href="coptact.html"><span class="icon flaticon-placeholder"></span> 22 Alnahas Building,  AlBahr Street</a></li>
                                </ul>
                                <h5>Opening Hours</h5>
                                <ul class="hours-list">
                                    <li>Mon - Tue<span>07:00AM - 2:00AM</span></li>
                                    <li>Wed - Thur<span>06:00AM - 1:00AM</span></li>
                                    <li>Friday<span>Closed</span></li>
                                    <li>Sat - Sun<span>07:30AM - 4:00AM</span></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <h4>Newsletter</h4>
                                <div class="text">Nam vitae ex eu risus cursus pharetra pretium sit amet leo. Nullam et urna non dui blandit rutrum. Ate elit vitae turpis ornare accumsan. Interdum etmalmalesuada fames.</div>

                                <!-- Newsletter Form -->
                                <div class="newsletter-form">
                                    <form method="post" action="https://codexlayer.com/comida_punto/contact.html">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Enter Your Email..." required>
                                            <button type="submit" class="theme-btn btn-style-two"><span class="txt">Subscribe</span></button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">Copyright © 2022 <a href="#">Comida Punto</a> by <a href="#">CodeXLayer</a>. All Rights Reserved.</div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->